doctype html
html
  head
    block head
      title="Rabbit Hole"
      link(rel='stylesheet' href='/stylesheets/index.css')
      append head
  body
    nav#nav-bar
      div#left-nav
        a(href='/' class='rabbit-logo')
          img#rabbit-logo(src="/splash-imgs/rabbit-hole-icon.png", alt="logo")
        h1=title
      div#right-nav
        if locals.authenticated
          a(href='/posts/create') Write
          a(href=`/users/${locals.user.id}`) My Page
          a(href='/users/logout') Logout
        else
          a(href='/users/login') Write
          a(href='/users/login') Sign In
          a#register(href='/users/create') Register
    block content
    //- div.space