doctype html
html
  head
      block head
        title="Rabbit Hole"
        link(rel='stylesheet' href='/stylesheets/index.css')
        append head
        //- add page specific js
        //- script(src="/javascripts/index.js" type="module" defer)
  body
    div#header
      div.left-nav
        div#icon
          a(href='/' class='rabbit-logo')
            img.rabbit-logo(src="/splash-imgs/rabbit-hole-icon.png", alt="logo")
        div#title
          h1= title
      div.right-nav
        ul
          if locals.authenticated
            li
              a(href='/posts/create') Write
            li
              a(href='/users/logout') Logout
            li
              a(href=`/users/${locals.user.id}`) My Page
          else
            li
              a(href='/users/login') Write
            li
              a(href='/users/login') Sign In
            li#sign-up
              button
                a(href='/users/create') Register
    block content
    div.space