@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

#feed {
  /* width: 100%; */
  /* padding: 10px; */
  display: flex; flex-direction: column; align-items: center;
}
#feed > * { margin-top: 2rem; }
#feed > h2{ font-family: 'Montserrat', sans-serif; font-weight: lighter; font-size: 2em;  }

#feed-posts {
  display: flex; flex-direction: row; flex-wrap: wrap;
  align-items: flex-start; justify-content: center;
  width: 90%; margin-left: auto; margin-right: auto;
}

.post {
  display: flex; flex-direction: column; align-items: flex-start;
  padding: 1.5em;
  width: 50%;
  min-height: 12em;
}
.post > h4 { font-family: 'Barlow Condensed', sans-serif; font-size: 1.8em; }

.post > div {
  font-family: 'Montserrat', sans-serif; font-size: 1em;
  margin-top: 1em; margin-bottom: 1em;
}

.post > a {
  font-family: 'Barlow', sans-serif; font-size: 1em; text-decoration: none;
  background-color: white; color: #18A0FB; border: #18A0FB solid 0.05em;
  padding: 0.4em .8em; border-radius: 0.5em;
}