@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#splash-footer { display: flex; flex-direction: column; align-items: center; }
#splash-footer > *{ margin-bottom: 2em; }

#footer-links {
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex; flex-direction: row; align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.05em black;
  width: 75%;
  padding: 1.8em;
  font-size: 1.4em;
}

#footer-links > * { 
  text-decoration: none;
  color: black;
  width: 33%;
  text-align: center;
  border-bottom: 0.05em solid white;
}

#footer-links > *:hover { 
  color: #18A0FB;
  border-bottom: 0.05em solid black;
}

#footer-collaborators{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#footer-collaborators > * { padding: 1em; }
#footer-collaborators img { height: 7em; width: 7em; border-radius: 100%; }
#footer-collaborators img:hover { opacity: 75%; }

#copyright { font-family: 'Montserrat', sans-serif; }


/* todo ——————————————————————————————————————————————————————————————————————————————— */
/* todo             Media                   */
/* todo ——————————————————————————————————————————————————————————————————————————————— */
@media (max-width: 700px) {
  #footer-links { padding: 1.4em; font-size: 1.2em; }
  #splash-footer > *{ margin-bottom: 1.4em; }
  #footer-collaborators img { height: 5em; width: 5em; border-radius: 100%; }
  #footer-collaborators > * { padding: 0.6em; }
}